<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <meta name="title" content="Real Estate Financial Calculators">
  <meta name="description" content="Access a variety of financial calculators for real estate investors, including Compound Interest and APR calculators.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://calc.thecommissionrei.com/">
  <meta property="og:title" content="Real Estate Financial Calculators">
  <meta property="og:description" content="Access a variety of financial calculators for real estate investors, including Compound Interest and APR calculators.">
  <meta property="og:image" content="https://calc.thecommissionrei.com/assets/logo-small.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://calc.thecommissionrei.com/">
  <meta property="twitter:title" content="Real Estate Financial Calculators">
  <meta property="twitter:description" content="Access a variety of financial calculators for real estate investors, including Compound Interest and APR calculators.">
  <meta property="twitter:image" content="https://calc.thecommissionrei.com/assets/logo-small.png">
  <title>Real Estate Calculators</title>
  <link href="./styles.css" rel="stylesheet">
</head>
<body>
  <div class="navbar bg-neutral text-neutral-content">
    <button class="btn btn-ghost text-xl">Real Estate Calculators</button>
  </div>

  <div class="flex flex-col">
  <ul class="menu menu-horizontal bg-base-200">
    <li><a href="#" hx-swap="innerHTML" hx-target="#main-content" hx-get="/mao-calculator.html">MAO</a></li>
    <li><a href="#" hx-swap="innerHTML" hx-target="#main-content" hx-get="/ci-calculator.html">Compound Interest</a></li>
    <li><a href="#" hx-swap="innerHTML" hx-target="#main-content" hx-get="/apr-calculator.html">APR</a></li>
  </ul>

  <div id="main-content" class="flex-grow p-4">
    <!-- Placeholder for Dynamic Content -->
    <div class="card w-full bg-neutral text-neutral-content">
      <div class="card-body items-center text-center">
          <h2 class="card-title">Choose a calculator to begin!</h2>
      </div>
    </div>
  </div>

  <footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
      <img src="/assets/logo-small.png" alt="The Commission REI">
      <p>Copyright © 2023 - All right reserved by The Commission REI</p>
    </aside>
  </footer>

  <script src="https://unpkg.com/hyperscript.org/dist/_hyperscript.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.8"></script>
</body>
</html>
