<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate MAO Calculator</title>
    <link href="./styles.css" rel="stylesheet">
</head>
<body>
  <div class="navbar bg-neutral text-neutral-content">
    <button class="btn btn-ghost text-xl">Real Estate Calculators</button>
  </div>

  <div class="flex flex-col">
  <ul class="menu menu-horizontal bg-base-200">
    <li><a href="#" hx-swap="innerHTML" hx-target="#main-content" hx-get="/mao-calculator.html">MAO</a></li>
    <li><a href="#" hx-swap="innerHTML" hx-target="#main-content" hx-get="/ci-calculator.html">Compound Interest</a></li>
    <li><a href="#" hx-swap="innerHTML" hx-target="#main-content" hx-get="/apr-calculator.html">APR</a></li>
  </ul>

  <div id="main-content" class="flex-grow p-4">
    <!-- Placeholder for Dynamic Content -->
    <div class="card w-full bg-neutral text-neutral-content">
      <div class="card-body items-center text-center">
          <h2 class="card-title">Choose a calculator to begin!</h2>

      </div>
    </div>
</div>

<!-- Preloaded Calculator Forms (hidden) -->
<div id="mao-calculator" class="hidden">
    <!-- MAO Calculator Form Here -->
    <p>Coming Soon</p>
</div>
<div id="ci-calculator" class="hidden">
    <!-- Compound Interest Calculator Form Here -->
</div>
<div id="apr-calculator" class="hidden">
    <!-- APR Calculator Form Here -->
</div>


<script type="text/hyperscript">
  def calculateMAO
      set arv to Number(document.getElementById('arv').value)
      set repairs to Number(document.getElementById('repairs').value)
      set profit to Number(document.getElementById('profit').value)
      set mao to arv - (arv * (profit / 100)) - repairs
      return "$" + mao.toFixed(2)
  end
</script>

<script src="https://unpkg.com/hyperscript.org/dist/_hyperscript.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.8"></script>
</body>
</html>
